/* #titleBar {
  background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
} */

/* add cool title bar */
#titleBar {
	background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 20vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* test code for background */
html {
	    height:100%;
	}
	 
	body {
	    margin:0;
	}
	 
	.bg {
	    animation:slide 3s ease-in-out infinite alternate;
	    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
	    bottom:0;
	    left:-50%;
	    opacity:.5;
	    position:fixed;
	    right:-50%;
	    top:0;
	    z-index:-1;
	}
	 
	.bg2 {
	    animation-direction:alternate-reverse;
	    animation-duration:4s;
	}
	 
	.bg3 {
	    animation-duration:5s;
	}
	 
	.content {
	    background-color:rgba(255,255,255,.8);
	    border-radius:.25em;
	    box-shadow:0 0 .25em rgba(0,0,0,.25);
	    box-sizing:border-box;
	    left:50%;
	    padding:10vmin;
	    position:fixed;
	    text-align:center;
	    top:50%;
	    transform:translate(-50%, -50%);
	}
	 
	h1 {
	    font-family:monospace;
	}
	 
	@keyframes slide {
	    0% {
	        transform:translateX(-25%);
	    }
	 
	    100% {
	        transform:translateX(25%);
	    }
	}

/* center titles */
h1, h4 {
  text-align: center;
}

/* try to use somethign form here: https://www.makeuseof.com/css-background-patterns-examples/ */